/* a标签的默认样式 */
a {
	text-decoration: none;
}
/* 导航项 */
.nav-item-selected {
	background-color: #e9eef3;
	position: relative;
}
.nav-item-selected::before {
	position: absolute;
	display: block;
	content: '';
	background-color: #0067c0;
	width: 3px;
	left: 0;
	height: 1.2rem;
	border-radius: 15px;
	animation: nav-item-selected-before 0.5s;
}
@keyframes nav-item-selected-before {
	from {
		height: 0;
	}
	to {
		height: 1.2rem;
	}
}

.nav-item-hover:hover {
	background-color: #e9eef3;
}
.width-translate {
	transition: width 0.5s;
}
.border-bottom {
	border-bottom: 1px solid rgb(214, 207, 207);
}

.main-height-normal {
	height: calc(100vh - 2rem - 3rem - 4rem - 8rem);
}

.table-height-normal {
	height: calc(100vh - 2rem - 3rem - 4rem - 8.8rem);
}
.table-body-height-normal {
	height: calc(100vh - 2rem - 3rem - 4rem - 16rem);
}
.table-body-height-expends {
	height: calc(100vh - 2rem - 3rem - 4rem - 22rem);
}
.table-body-width-normal {
	width: calc(100vw - 2rem - 20rem);
}
.table-body-width-expends {
	width: calc(100vw - 2rem - 7rem);
}

:root {
	--scrollbar-track: #d1d5db;
	--scrollbar-thumb: #374151;
	--scrollbar-track: initial;
    --scrollbar-thumb: initial;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    overflow: overlay;
    scrollbar-width: thin;
}